*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f8f9fb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    width: 100%;
    background-color: #2f4155;
    padding: 0.7rem;
    position: relative;
}
.navbar h1{
  color: white;
}
.navbar h1{
padding: 0 0.2rem;}
.container{
    width: 92%;
    margin: 0 auto;
     display: flex;
      justify-content: space-between;
      align-items: center;
}

a{
    text-decoration: none;
    color:lightblue;
}
.navlink li{
    transition: all 100ms
    ease-in-out;

}
.navlink li:hover{
    background-color: white;
    color: red;
    transform:translateY(-5px)
}
.navlink li a:hover{
 color: black;
}
.linkscontainer{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.navlink .hamburger{
    font-size: 24px;
    color: lightblue;
    display: none;
}
#checkbox{
    display: none;
}
.submit{
    background-color: #2f4155;
    display: block;
    padding: 10px;
    border-radius: 15px;
    border-color: white;
    color: lightblue;
}
.submit:hover{
    background-color: white;
    color: black;
    transform:translateY(-5px)
}
.navlink label{
     transition: all 100ms
    ease-in-out;
}
section{
    width: 30%;
    background-color: #ffffff;
    margin: 1rem auto;
    height: 550px;
        box-shadow: 0px 2px 8px 2px black;
}
footer{
    width: 100%;
    background-color: #2f4155;
}
p, .userwrapper, h1, a{
    text-align: center;
}
.userwrapper{
color: #2f4155;
font-size: 2rem;
padding-bottom: 0.5rem;
margin: ;
}
.wrapper1{
    padding-left: 1rem;
    padding-top: 1rem;
}
.wrapper{
    padding-left: 1rem;
    padding-top: 1rem;
}
p{
    color: #2f4155;
    font-size: small;
    padding: 0.3rem;
}
.span1{
    background-color: #f6faf9;
    border: 1px solid #f6faf9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-right: 2px;
    align-items: center;
    justify-content: center;
}
.span2{
    background-color: #f6faf9;
    border: 1px solid #f6faf9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-right: 2px;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
}
input{
    padding-top: 6.3px;
    border: 2px solid #f6faf9;

}
i{
    padding-left: 5px;
}
.signinbtn{
    border-color: #2f4155;
    background-color: #2f4155;
    width: 94%;
    padding: 7px;
    border-radius: 10px;
    margin-top: 1rem;
    color: white;
}
.signinbtn:hover{
    background-color: white;
    color:#2f4155;
}
.fyp{
    margin: 1rem;
}
.fyp a{
    color: #2f4155;
}
.fyp .fyp2:hover{
   width:fit-content;
   margin: 0 auto;
    border-radius: 15px;
    transform: translateY(-5px);
}
.fyp .fyp2{
    transition: all 100ms
    ease-in-out;
}
.fyp .fyp2 a:hover{
    color:#2f4155;
}
.black{
    color: black;
}
.red{
    color: red;
}
.red:hover{
    background-color: red;
    color: black;
    margin: 0 auto;
    width: fit-content;
}
.navy{
   color: #2f4155;
}
.navy:hover{
     background-color:#2f4155;
    color: black;
    margin: 0 auto;
    width: fit-content;
}
.black2{
    padding: 1.5rem;
    color: black;
}
.black2 a{
    color: #2f4155;
    font-weight: bold;
}
h4{
    color: white;
    padding-bottom: 1rem;
    justify-content: left;
}
footer{
    justify-content: center;
    align-items: center;
    padding: 1rem;

}
.flex{
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
}
.flex1 i{
    color: white;
    padding-top: 1.7rem;
}
.flex1 header{
    padding-top: 0.5rem;
}
.flex2 ul{
    list-style: none;
}
.flex2 ul li{
    padding: 0.1rem;
}
.flex3 i{
    padding: 0.8rem;
}
.ci{
    padding-left: 8px;
}
.mail{
     padding: 0.3rem;
     width:4.8rem;
     border-radius: 10px;
}
.mail{
    border-radius:0%;
    padding: 0.4rem;
    border: white;
    
}
.mailsub{
    border: 1px solid #2f4155;
    border-radius: 10px;
    overflow: hidden;
    padding: 0.rem;
    background-color:white;
}
.sub{
    color: white;
    background-color: black;
    padding: 0.5rem;
} 
.pflex{
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.ptflex{
    display: flex;
    gap: 20px;
}
.alt li{
    color: black;
}
.num{
    padding-left: 50rem;
}
.maincontent{
    width: 90%;
    margin: 0 auto;
}

@media (max-width:600px) {
    .linkscontainer{
    display: none;
   

}
.navlink .hamburger{
    display: block;
}
#checkbox:checked ~ .linkscontainer{
    width: 100%;
    display:block;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: #2f4155;
    /* TRBL */
    padding: 0 5.5rem;

}
.linkscontainer li{
    padding: 0.5rem 0;
}
.submit{
    width: 80%;
    margin: 0 auto;
    transition: all 100ms;
}
.submit:hover{
    color: #2f4155;
}
.maincontent .flex{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
. .maincontent.pflex{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
section{
    height: fit-content;
    width: fit-content;
}
}